version: '3.8'

# Frontend Services
services:
  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_WEBSOCKET_URL=ws://127.0.0.1:8000/ws/audio
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend
    command: npm run dev -- --host
    volumes:
      - ./frontend:/app
      - /app/node_modules

  # Backend Services
  backend:
    build:
      context: ./backend
    ports:
      - "8000:8000"
    environment:
      - BACKEND_ENV=development
      - HUGGINGFACE_API_TOKEN=${HUGGINGFACE_API_TOKEN}
    volumes:
      - ./backend:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000
